@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


* {
    margin: 0; /* zerar a margem de todos os elementos */
    padding: 0; /* zerar o espaçamento interno de todos os elementos */
    box-sizing: border-box; /* incluir padding e borda no cálculo do tamanho do elemento */
    font-family: 'Poppins', sans-serif;
}

:root { 
    --red: #bd2f28;
    --white: #f3e4cf;

}


/* estilos.css */

body {
    background-color:  var(--white)
}

/* estilos.css */

header {
    background-color: #333; /* cor de fundo */
    color: #fff; /* cor do texto */
    text-align: center; /* alinhamento centralizado */
    padding-top: 20px; /* espaçamento interno superior */
    padding-bottom: 20px; /* espaçamento interno inferior */
    padding-left: 20px; /* espaçamento interno esquerdo */
    padding-right: 20px; /* espaçamento interno direito */
    box-shadow: 0px 12px 22px -3px rgba(0,0,0,0.36);
}

/* estilos.css */

header {
    background-color: var(--red);
    color: #fff;
    text-align: center;
}

/* estilos.css */


nav ul {
    list-style: none; /* Remove o estilo da lista */
}

nav li {
    display: inline; /* Deixa os itens da lista em linha */
    margin-right: 20px; /* Adiciona um espaçamento de 20px entre os itens da lista */
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #fff; /* Cor do texto */
    margin: 10px;
}

nav a:hover { 
    background-color: #df554e;
    transition: all 0.5;
    border-radius: 10px;
}

/* estilos.css */

main {
    padding: 20px; /* espaçamento interno */
    overflow: hidden; /* esconde o conteúdo que ultrapassa o tamanho do elemento */
}

/* estilos.css */

.card {
    padding: 10px;
    margin: 10px;
    background-color: var(--white);
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.5s ease;
    cursor: pointer;
    
}

.card:hover {
    transform: scale(1.05);
}   

.cards {   
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

button {    
    background-color: var(--red);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

a { 
    color: #fff;
    text-decoration: none;
}

button:hover {  
    background-color: #df554e;
    transition: all 0.9;
}



/* estilos.css */

footer {
    background-color:   var(--red);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* estilos.css */

/* Formulário */
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  overflow: hidden;
}

form fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

form legend {
  font-weight: bold;
  color: #777;
}

/* estilos.css */

/* Campos de Entrada de Texto */
.input-container {
    margin-bottom: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}

/* estilos.css */

/* Componentes Checkbox e Radio */
.radio-group label {
    display: inline;
    margin-right: 10px;
    font-weight: normal;
  }
  
  .input-check {
      display: inline-block;
      margin-right: 10px;
  }
  
  .input-check input[type="checkbox"] + label {
      display: inline-block;
      font-weight: normal;
  }

  /* estilos.css */

/* Componentes Textarea e Select */
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite redimensionar verticalmente o textarea */
    height: 120px; /* Altura inicial do textarea */
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* estilos.css */

/* Botões */
button {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer; /* Adiciona um cursor de ponteiro */
  }
  
  /* Botão de Limpar */
  button[type="reset"] {
    background-color: #6c757d;
  }
  
  /* Botão de Enviar */
  button:hover {
    background-color: #c45650;
  }

.input-container-file  {
    display: inline-block;
    padding: 65px 140px;
    box-shadow: 0px 29px 32px 13px rgba(0,0,0,0.04);
    color: var(--red);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 3.4rem;
    margin-bottom: 20px;
}
.input-container-file:hover {
    background-color: #e6dbda;
}

.input-container-file input[type="file"] {
    display: none;
}
